/* header */
/* .header {
} */
.header__row {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}
@media (min-width: 540px) {
	.header__row {
		flex-direction: row;
		justify-content: flex-end;
	}
}
/* .header__content {
} */
@media (min-width: 540px) {
	.header__content {
		max-width: 55%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media (min-width: 992px) {
	.header__content {
		max-width: 670px;
	}
}
.header__title {
	margin: 0;
	margin-bottom: 20px;
	font-family: "Playfair Display", serif;
	font-weight: normal;
	font-size: 32px;
	line-height: 1.3;
}
@media (min-width: 992px) {
	.header__title {
		font-size: 72px;
	}
}
.header__text {
	max-width: 600px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5;
}
@media (min-width: 992px) {
	.header__text {
		font-size: 22px;
		margin-bottom: 60px;
	}
}
.header__photo {
	margin-bottom: 15px;
}
@media (min-width: 540px) {
	.header__photo {
		/* display: block; */
		max-width: 50%;
	}
}
@media (min-width: 992px) {
	.header__photo {
		max-width: inherit;
	}
}
