.posts-wrapper {
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 30px;
}
@media (min-width: 992px) {
	.posts-wrapper {
		margin-bottom: 75px;
	}
}
.post {
	max-width: 570px;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	align-items: flex-start;
	column-gap: 15px;
}
@media (min-width: 992px) {
	.post {
		column-gap: 30px;
	}
}
.post__img {
	max-width: 100px;
}
@media (min-width: 400px) {
	.post__img {
		max-width: 170px;
	}
}
.post__content {
	max-width: 370px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.post__title {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Playfair Display", serif;
	font-size: 20px;
	/* line-height: 27px; */
	color: #000;
}
.post_text {
	margin-bottom: 0 0 10px;
	font-size: 14px;
	line-height: 1, 3;
	color: #777;
}
.post__read-more {
	font-family: "Playfair Display", serif;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

.post__read-more::after {
	content: "";
	display: inline-block;
	margin-left: 2px;
	width: 24px;
	height: 24px;
	vertical-align: text-top;
	background-image: url(./../../img/icons/chevron-right.svg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;

	transition: margin 0.2s ease-in;
}
.post__read-more:hover {
	text-decoration: underline;
}
.post__read-more:hover::after {
	margin-left: 10px;
}
